body {
  font-family: Arial;
}
.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 120px 150px 50px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input,
.due-date-input {
  padding: 5px;
}
.add-todo-button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.delele-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}